.product-carousel .p-carousel-items-container {
    gap: 8px
}

.fixed {
    position: fixed
}

.bg-background-dark {
    background-color: #111827
}

.container-mobile {
    max-width: 640px;
    margin: 0 auto
}